<h1>Editing: <%= @artist.name%></h1>

<hr />

<%= form_for @song do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <br />
  <%= f.label :duration %>
  <%= f.text_field :duration, required: true %>
  <br />
  <%= f.label :genre %>
  <%= f.text_field :genre, required: true %>
  <br />
  <%= f.label :album %>
  <%= f.text_field :album, required: true %>
  <br />
  <%= f.submit %>
<% end %>
