<h1>Add Billboard</h1>
<%= form_for @billboard do |f| %>
  <div class='ui form'>
    <%= f.label :title, autofocus: true %>
    <%= f.text_field :title, required: true %>
    <br />
  <div class='test'>
    <%= f.submit class: 'ui primary button' %>
  </div>
  </div>
<% end %>
<%= link_to 'All Billboards', billboards_path %>
