<h1>Add Billboard</h1>
<%= form_for @billboard do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true %>
  <br />
  <%= f.submit %>
<% end %>
<%= link_to 'All Billboards', billboards_path, class: 'btn btn-primary' %>
